<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.tourdreams.com.br">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SobreNos"
            android:label="@string/title_activity_sobre_nos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.tourdreams.com.br.MainActivity" />
        </activity>
        <activity
            android:name=".MelhoresDestinos"
            android:label="@string/title_activity_melhores_destinos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.tourdreams.com.br.MainActivity" />
        </activity>
        <activity
            android:name=".NossosParceiros"
            android:label="@string/title_activity_nossos_parceiros"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.tourdreams.com.br.MainActivity" />
        </activity>
        <activity
            android:name=".ConhecaseuDestino"
            android:label="@string/title_activity_conhecaseu_destino"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.tourdreams.com.br.MainActivity" />
        </activity>
        <activity
            android:name=".Faleconosco"
            android:label="@string/title_activity_faleconosco"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.tourdreams.com.br.MainActivity" />
        </activity>
    </application>

</manifest>